.cont-card {
  background-color: antiquewhite;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.contenedor-card {
  height: 25rem;
  width: 25rem;
}

.card-img > img {
  height: 13rem;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: antiquewhite;
  padding: 0.5rem;
}
  .check {
    display: flex;
    color: #000000;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}
.check div{
  margin-right: 1rem;
}
.check input{
  margin-right: 0.5rem;
}