.cardEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 60rem;
    width: 100%;
    align-content: flex-start;
    align-items: center;
}

.cardDetPadre {
  display: flex;
  height: 40rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cardDet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 25rem;
  width: 70rem;
  color: #eaf2f4;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
  margin: 1rem;
}

.contimg {
  height: 100%;
  width: 50%;
  object-fit: contain;
}
.contimg > img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.cardinfo {
  display: flex;
  height: 100%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 
